body {
    display: flex;
    background-image: linear-gradient(to bottom right, rgb(238, 202, 226),rgb(197, 181, 204), rgb(250, 225, 250));
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
}
/* Container */
.container {
    display: flex;
    height: 500px;
    width: 600px;
    justify-items: center;
    box-shadow: 15px 15px 20px rgb(255, 255, 255);
    border-radius: 40px;
}

.form { /* Login Form */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.47);
    border-radius: 40px;
}
.form h2 {
    font-size: 3rem;
    font-family: Verdana sans-serif;
    color:white;
    justify-self: flex-start;
}
.box { /* Username/Password Boxes */ 
    display: flex;
    width: 65%;
    padding: 12px;
    margin: 15px;
    border: 1px solid rgb(184, 159, 192);
    border-radius: 50px;
    font-size: 15px;
    font-family: 'Helvetica Neue', sans-serif, 'Arial Narrow Bold', sans-serif;
}

#submit {
    padding: 12px 30px;
    width: 40%;
    background-color: rgb(184, 159, 192);
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 20px;
    border-color: white;
}

#submit:hover {
    cursor: placeholder;
    background-color: rgb(247, 207, 240);
}
.form a { 
    color: rgb(136, 128, 136);

}

.form a:hover {
    color: rgb(247, 207, 240);
}
